mat-form-field
    width: 80%

mat-card-title
  font-size: 12pt

mat-card
  margin-bottom: 5px

span
 padding-right: 10px

span.date
 font-style: italic

hr
 margin-top: 4%
 margin-left: 48%
 margin-right: 48%
 border: 4px dotted

.add-space-up
  margin-top: 4%

strong 
  margin-bottom: 4%