
<div>
    <h2>{{game.title}}</h2>
    <div>{{game.description}}</div>
</div>

<div>
    <table>
        <tr>
            <th> Comments </th>
        </tr>
        <ng-container *ngFor="let comment of commentsObservable | async">
            <tr>
                <td>
                    <strong>
                        {{comment.title}}
                    </strong>
                    <div>{{comment.comments}}</div>
                    <div><span>{{comment.userName}}</span> <span class="date">{{comment.timeCommented | date}}</span></div>
                </td>
            </tr>
        </ng-container>
    </table>
</div>
<div>
    <hr>
</div>
<div>
    <mat-form-field>
        <mat-label>Your name</mat-label>
        <input matInput type="text" placeholder="Please provide your name" (change)="updateName($event)">
    </mat-form-field>
</div>

<div>
    <mat-form-field>
        <mat-label>Comment Title</mat-label>
        <input matInput type="text" placeholder="Please provide a title for the comment" (change)="updateTitle($event)">
    </mat-form-field>
</div>

<div>
    <mat-form-field>
        <mat-label>Comment</mat-label>
        <textarea name="comment" id="comment" placeholder="Write your comment here" (change)="updateComments($event)" matInput cols="30" rows="10"></textarea>
    </mat-form-field>
</div>

<button mat-raised-button color="primary" (click)="submitComment()">Submit</button>