<div *ngIf="game">
    <h1>{{game.title}}</h1>
    <div>{{game.alternateNames}}.</div>
    <div>{{game.description}}. {{game.origin}}.</div>
</div>
<hr />

<div class="add-space-up">
    <strong>
        Comments
    </strong>
    <mat-card *ngFor="let comment of commentsObservable | async">
        <mat-card-title>
            {{comment.title}}
        </mat-card-title>
        <mat-card-content>
            <div>{{comment.comments}}</div>
            <div><span>{{comment.userName}}</span> <span class="date">{{comment.timeCommented | date}}</span></div>
        </mat-card-content>
    </mat-card>
</div>
<div>
    <hr>
    <strong>
        Add New Comment
    </strong>
</div>
<div>
    <mat-form-field>
        <mat-label>Your name</mat-label>
        <input matInput type="text" placeholder="Please provide your name" (change)="updateName($event)">
    </mat-form-field>
</div>

<div>
    <mat-form-field>
        <mat-label>Comment Title</mat-label>
        <input matInput type="text" placeholder="Please provide a title for the comment" (change)="updateTitle($event)">
    </mat-form-field>
</div>

<div>
    <mat-form-field>
        <mat-label>Comment</mat-label>
        <textarea name="comment" id="comment" placeholder="Write your comment here" (change)="updateComments($event)"
            matInput cols="30" rows="10"></textarea>
    </mat-form-field>
</div>

<button mat-raised-button color="primary" (click)="submitComment()">Submit</button>