<mat-toolbar color="primary">
    <mat-toolbar-row>
      <span>Game List</span>
      <span class="flexExpand"></span>
      <button mat-button (click)="showDice()">Show Dice</button>
    </mat-toolbar-row>
</mat-toolbar>
<div>
    <ng-container *ngFor="let game of (games | async)?.boardGames">
        <a (click)="gameSelected(game)">
            <mat-card>
                <mat-card-header>
                    <h1>
                        {{game.title}}
                    </h1>
                </mat-card-header>
                <mat-card-content>
                    <span>{{game.alternateNames}}</span>
                    <div>{{game.origin}}</div>
                    <div>{{game.description}}</div>
                </mat-card-content>
            </mat-card>
        </a>
    </ng-container>
</div>